<div class="container">
  <div class="layer_1">
    <div class="title_text_container">
        <h2 class="title_text">
            Mergulhe neste oceano junto com a gente seja um voluntário
        </h2>
        <button class="btn_inscrever">SE INSCREVA</button>
    </div>
    <img
      src="../../../assets/images/Logo_Missão_Redonda.png"
      class="logo_redonda"
      alt="Logo Redonda"
    />
  </div>
  <div class="layer_3">
    <div class="sub_container_1">
      <img
        src="../../../assets/images/Perfis_Voluntárions.png"
        class="perfil_voluntarios"
        alt="Imagens Voluntarios"
      />
      <div class="container_1_text">
        <p>Mais de</p>
        <h2>74</h2>
        <p>Voluntários cadastrados</p>
      </div>
    </div>
    <div class="sub_container_2">
      <div class="container_2_text">
        <h2>2</h2>
        <p>Bairros atendidos</p>
      </div>
    </div>
    <div class="sub_container_3">
      <div class="container_3_text">
        <h2>90</h2>
        <p>Crianças assistidas</p>
      </div>
    </div>
  </div>
</div>
