/* Fontes: Roboto, Poppins, Borel */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #606062;
    font-size: 16px;
}

/*@media screen and (max-width: 1480px){
  *{
    font-size: 12px;
  }
}*/